<footer>
    <div class="my-4 container d-flex flex-column text-center">
      <p>&copy; Powered by Kecskeméti lángos Kft. 2021. Minden jog fenntartva.</p>
      <ul class="list-inline">
          <li class="list-inline-item">
              <a href="#">Elérhetőség</a>
          </li>
          <li class="list-inline-item">
              <a href="#">Adatvédelem</a>
            </li>
            <li class="list-inline-item">
                <a href="#">ÁSZF</a>
            </li>
            <li class="list-inline-item">
                <a href="#">GYIK</a>
            </li>
        </ul>
        <div>
            <button class="btn btn-primary" (click)="scrollToTop()">Vissza a tetejére</button>
        </div>
    </div>
  </footer>